<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="CodeJewelsContext" connectionString="Server=123bd2c6-7e77-467b-8850-a21e00cfa435.sqlserver.sequelizer.com;Database=db123bd2c67e77467b8850a21e00cfa435;User ID=hqbjummeztduyqzp;Password=zcCnKkCt4FbGP6dCCJQMbH8UnQ45aLkQzieBLXGfjTBrC5C8RMtx6rHYcR84pFsq;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>