<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to my ASP.NET Web API!</h1><br />
                <h2>To visit my AppHarbor site, go to <a href="http://codejewels-5.apphb.com">http://codejewels-5.apphb.com</a></h2>
            </hgroup>

        </div>
    </section>
