@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h3>Task 1</h3>
    Create a database for storing information about Movies – Title, Director, Year, Leading Male Role, Leading Female Role and their Age, Studio, Studio Address.
</div>

<div class="hero-unit">
    <h3>Task 2</h3>
    Create Controllers and Actions for performing CRUD operations over the database.
</div>

<div class="hero-unit">
    <h3>Task 3</h3>   
    Create an application that visualize and do operations with your data via Ajax.
</div>
