<?xml version="1.0"?>
<configuration>

  <location path="All.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="New.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Edit.aspx">
    <system.web>
      <authorization>
        <allow roles="Moderator, Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Delete.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
