@{
    ViewBag.Title = "Home";
}

@section Heading{
    <h1>@ViewBag.Title</h1>
}

<div class="hero-unit">
    Welcome to our catalog! Please choose a category from the menu above.
</div>

<div class="hero-unit">
    <h3>Task Description</h3>
    Create a simple informational ASP.NET MVC application by your choice with at least 3 controllers, 
    1 area, 1 custom route, 5 views (at least 1 partial view and 1 section). Using data is not required.
</div>

