body, div, h1, a, img, span {
    padding: 0;
    margin: 0;
}

body {
	text-align: center;
	background-color: #333;
	padding: 20px 0px 0px 0px;
}

div#main-container {
	text-align: left;
    font-family: "Arial Narrow";
    font-size: 18px;
	color: #000;
    width: 404px;
	background-color: #eeeeee;
	margin: 0px auto 0px auto;
    padding: 11px 11px 25px 11px;	
	border-radius: 4px;		
}

    h1 {
	    font-size: 18px;
	    font-weight: normal;
    }

    div#main-container div.catagorie {
	    width: 374px;
	    margin: 36px auto 20px auto;
	    border: 1px solid #a6a6a6;
	    background-color: #FFF;
	    height: 86px;
	    padding: 15px;
        font-family: Arial;
    }
            
       div#main-container div.catagorie div.LeftColumn {
	        float: left;
	        width: 130px;
        }

        div#main-container div.catagorie div.RightColumnText {
	        float: right;
	        width: 220px;
	        font-size: 12px;
	        color: #000;
	        height: 60px;
        }
            
            div.catagorie div.RightColumnText a.strong {
                display: normal;
                text-decoration: none;
                color: black;
	            font-weight:bold;
            }
                div.catagorie div.RightColumnText a.strong:hover {
                    text-decoration: underline;
                    color: #FC0;                                        
                }

        div#main-container div.catagorie div.ButtonRight {
            padding-top: 5px;
	        float: right;
	        width: 60px;
            height: 25px;
            text-align: center;
	        font-size: 12px;
	        color: #FFF;
	        background-image: url(images/btn-add.png);
	        background-repeat: no-repeat;
        }

        div#main-container div.catagorie div.ButtonLeft {
            padding: 5px 0px 0px 3px;
	        float: right;
	        width: 73px;
            height: 25px;            
	        font-size: 12px;
            text-align: center;
	        color: #FFF;
	        background-image: url(images/btn-listen.png);
	        background-repeat: no-repeat;
        }       

        a.button {
            text-decoration: none;
	        font-family: Arial;
	        font-size: 12px;
	        color: #FFF;
        }
                    
        a.button:visited {
	        color: #FFF;
        }
        
        a.button:hover {
	        color: #FC0;
        }

        a.button:active {
	        color: #FFF;
        }
            
                  

            
    
    


   


