<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDayAsString" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54239/ServiceDayAsString.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDayAsString"
                contract="ServiceReferenceDayAsString.IServiceDayAsString"
                name="BasicHttpBinding_IServiceDayAsString" />
        </client>
    </system.serviceModel>
</configuration>