@model LibrarySystem.Models.CategoryViewModel

<div class="k-edit-form-container">
    <label class="editor-label">
        @Html.DisplayNameFor(c => c.Name)
    </label>
    <div class="k-textbox">
        @Html.EditorFor(c => c.Name)
    </div>
</div>